
<!--

 This small HTML file will accept the images files from various render_templates function calls
 and essentially open the "ur", which is the path of the image file to open. This file also
 creates an image element so that the image can be rendered, despite being
 stored locally on one's computer


 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


     <img src={{ url}} alt="Title One Bar Graph" height="600" width="1300" align="middle">
</head>
<body>

</body>
</html>