<!DOCTYPE html>

<!-- Notes



//School district boundaries/Numbering System
// 0 - Dawes
// 1 - Dewey
// 2 - Kingsley
// 3 - Lincoln
// 4 - Lincolnwood
// 5 - Oakton
// 6 - Orrington
// 7 - Walker
// 8 - Washington
// 9 - Willard
// 10 - Bessie Rhodes
// 11 - MLK

Most buttons can be added to the map using this skeleton:

   <div class='map-overlay-button (put specific button name here)'>
    	<div class='map-overlay-inner-button'>
        	<fieldset>
            	<label>(put actual button name here, the name the user will see)</label>
            	<button id=" (put a name for the button here, a short one that you can refer to in the file)"></button>
        	</fieldset>
    	</div>
   </div>

=====================================================
=====================================================
To change the color of the blocks via mapbox style function calls, use this command:

 map.setPaintProperty("blocks", 'fill-color', (put values here));  Here is an example:

 map.setPaintProperty("blocks", 'fill-color', ["case",
         ["==", ["number", ['get', 'busedHazard']],
             300], "transparent",//not in district
         ["==", ["number", ['get', 'busedDistance']],
             0], "#fef0d9", //light white
         ["<", ["number", ['get', 'busedDistance']],
             1], "#fdcc8a",
         ["<", ["number", ['get', 'busedDistance']],
             2], "#fc8d59",
         ["<", ["number", ['get', 'busedDistance']],
             3], "#e34a33", //orange
         /* > 3 */  "#b30000"]);//dark red

Notice that a color appears in this kind of format: a string with numbers and letters, like  "#fef0d9"

Notice that the color values differ for different boolean cases. Go to this link to learn how to write
these special mapbox expressions which look like Racket code from CS 111: https://docs.mapbox.com/mapbox-gl-js/style-spec/


=====================================================
=====================================================
JavaScript function syntax:

function function_name( put parameters/arguments/inputs here)
{
  put function body code here, JS functions DO NOT NEED return statements

}



=====================================================
=====================================================
Clearing and filling the dynamic legend (the transparent
box that has color blocks with descriptions
for each block)

--- This while loop clears the "data" currently inside of the
legend

while (legend.hasChildNodes()) {
         legend.removeChild(legend.firstChild);
     }

--- Replace the strings inside of the layers array with the various descriptions you want for the legend
and replace the colors array with the corresponding colors for the descriptions

     var layers = ['Zero students', 'One Student', 'Two Students', 'Three Students', 'Greater than Three Students'];
     var colors = ["#fef0d9", "#fdcc8a", "#fc8d59", "#e34a33", "#b30000"];

--- This for loop adds each color and layer to the legend by creating HTML elements on the go

     for (i = 0; i < layers.length; i++) {
         var layer = layers[i];
         var color = colors[i];
         var item = document.createElement('div');
         var key = document.createElement('span');
         key.className = 'legend-key';
         key.style.backgroundColor = color;

         var value = document.createElement('span');
         value.innerHTML = layer;
         item.appendChild(key);
         item.appendChild(value);
         legend.appendChild(item);
     }


=====================================================
=====================================================
Most hovering drop down lists/menus can be added using
this skeleton (each menu needs its own set of classes. Look at the css
 file for any of the pages that has a dropdown menu to see an example of how to do this correctly.
 It is really just copy and paste):

    <div class="dropdown">
      <button class="dropbtn"> (put menu title here) </button>
      <div class="dropdown-content">
       --You can use the <a> tag for calling JS functions or hyperlinks: <a onclick=" (function name here) ">(button title here)</a>
        <a onclick=" (function name here) ">(button title here)</a>
        <a onclick=" (function name here) ">(button title here)</a>
          and so on...
      </div>
    </div>


Some code I don't need right now:

<a onclick="modelResults('busNumbers')">Number of Busses Required</a>
        <a onclick="modelResults('busDistance')">Busing for Distance</a>


-->
<html>
<head>
    <meta charset='utf-8'/>
    <title>D65</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- <script src="../static/mapVisual.js"></script> -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" type="text/css" href="../static/multiObjective.css">
    <!-- CSS information for the map -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 40px;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

<!-- HTML -->

<div id='nav_bar'></div>
<div id="map"></div>
<div class='map-overlay-legend All' id='legend'></div>

<div class='map-overlay-legendMO1 All' id='legendMO1'></div>
<div class='map-overlay-legendMO2 All' id='legendMO2'></div>
<div class='map-overlay-legendMO3 All' id='legendMO3'></div>
<div class='map-overlay-legendMO4 All' id='legendMO4'></div>


<div class='map-overlay slider1'>
    <div class='map-overlay-inner'>
        <h2>Average Student Travel Distance</h2>
        <label class="monthLabels" id='month1'></label>
        <input class="sliderCursor" id='slider1'
               type='range' min='0' max='3' step='1' value='2'/>
    </div>
</div>

<div class='map-overlay slider2'>
    <div class='map-overlay-inner'>
        <h2>Annual Students Bussed (K-5)</h2>
        <label class="monthLabels" id='month2'></label>
        <input class="sliderCursor" id='slider2'
               type='range' min='0' max='3' step='1' value='2'/>
    </div>
</div>

<div class='map-overlay slider3'>
    <div class='map-overlay-inner'>
        <h2>Total Bus Routes</h2>
        <label class="monthLabels" id='month3'></label>
        <input class="sliderCursor" id='slider3'
               type='range' min='0' max='3' step='1' value='2'/>
    </div>
</div>

<div class='map-overlay slider4'>
    <div class='map-overlay-inner'>
        <h2>Title One Eligible Schools</h2>
        <label class="monthLabels" id='month4'></label>
        <input class="sliderCursor" id='slider4'
               type='range' min='0' max='3' step='1' value='2'/>
    </div>
</div>

<div class='map-overlay slider5'>
    <div class='map-overlay-inner'>
        <h2>Blocks Allowed to be Reassigned</h2>
        <label class="monthLabels" id='month5'></label>
        <input class="sliderCursor" id='slider5'
               type='range' min='25' max='100' step='25' value='50'/>
    </div>
</div>


<form method="post" id='paramInput' class="map-overlay optimizationButton">
    Maximum % of blocks reassigned (1-100)
    <br>
    <input type="text" id="blocksAssigned">
    <br>

    Objective scaling factor: average student travel distance (km) (>= 0) <br>
    <input type="text" id="travelDistance"> <br>


    Objective scaling factor: expected yearly # of excess students per school (>=0)<br>
    <input type="text" id="excessStudents"> <br>

    Objective scaling factor: expected yearly # of students bussed (>=0)<br>
    <input type="text" id="studentsBussed"> <br>

    Objective scaling factor: expected yearly # of busses used per school (>= 0)<br>
    <input type="text" id="yearlyBusPerSchool"> <br>

    Objective scaling factor: # of Title 1 eligible schools (>=0)<br>
    <input type="text" id="titleOneEligibleSchools"> <br>

    <label id="contiguity"> Require Contiguity? </label><br>
    <input type="checkbox" name="contiguity" id='myCheckbox'> <br>

    <input type="button" value="Run Optimization" id="optimizationButton">
</form>

<div class="dropdown">
    <button class="dropbtn">Navigate</button>
    <div class="dropdown-content">
        <a href="http://127.0.0.1:5000/">Home Page</a>
        <a onclick="pageDescription()">Page Description</a>
        <a onclick="schoolAssignments('current')">Current School Assignments</a>
        <a onclick="schoolAssignments('new')">New School Assignments</a>
        <a onclick="currentYear_heatmap()">2018 Student Population Heat-map</a>
    </div>
</div>

<div class="dropdown1">
    <button class="dropbtn1">Multi Objective Comparison By...</button>
    <div class="dropdown1-content">
       <!-- <a onclick="multiObj_Comparison_Metric_Selection('school')">School Assignment</a> -->
        <a onclick="multiObj_Comparison_Metric_Selection('busHazard')">Busing for Hazards</a>
        <a onclick="multiObj_Comparison_Metric_Selection('busDistance')">Busing for Distance</a>
       <!-- <a onclick="multiObj_Comparison_Metric_Selection('race')">Race & Re-Assignment</a> -->
    </div>
</div>

<div class="dropdown2">
    <button class="dropbtn2">Model Results as of 9/10/19</button>
    <div class="dropdown2-content">
        <a onclick="modelResults('newSchool')">New School Assignment</a>
        <a onclick="modelResults('neighborhood')">Neighborhood Assignment</a>
    </div>
</div>

<div class="dropdown4">
    <button class="dropbtn4">Legend Toggles</button>
    <div class="dropdown4-content">
        <a onclick="legendToggle()">Click to Show/Hide Color Legend</a>
        <a onclick="optimizationButtonToggle()">Click to Show/Hide Model Inputs</a>
    </div>
</div>
<!--

Commented out the constraint input boxes for now, until
the model is ready to accept them as inputs

    <div class='map-overlay-button obj1Constraint'>
    	<div class='map-overlay-inner-button'>
        	<fieldset>
            	<label>Constraint</label>
            	<input class="constraintInput" type="number" name="obj1Constraint_min" value="1"> Minimum<br>
                <input class="constraintInput" type="number" name="obj1Constraint_max" value="1"> Maximum
        	</fieldset>
    	</div>
    </div>

     <div class='map-overlay-button obj2Constraint'>
    	<div class='map-overlay-inner-button'>
        	<fieldset>
            	<label>Constraint</label>
            	<input class="constraintInput" type="number" name="obj2Constraint_min" value="1"> Minimum<br>
                <input class="constraintInput" type="number" name="obj2Constraint_max" value="1"> Maximum
        	</fieldset>
    	</div>
    </div>

     <div class='map-overlay-button obj3Constraint'>
    	<div class='map-overlay-inner-button'>
        	<fieldset>
            	<label>Constraint</label>
            	<input class="constraintInput" type="number" name="obj3Constraint_min" value="1"> Minimum<br>
                <input class="constraintInput" type="number" name="obj3Constraint_max" value="1"> Maximum
        	</fieldset>
    	</div>
     </div>

     <div class='map-overlay-button obj4Constraint'>
            <div class='map-overlay-inner-button'>
                <fieldset>
                    <label>Constraint</label>
                    <input class="constraintInput" type="number" name="obj4Constraint_min" value="1"> Minimum<br>
                    <input class="constraintInput" type="number" name="obj4Constraint_max" value="1"> Maximum
                </fieldset>
            </div>
     </div>
    <div class="map-overlay-button allConstraintsDone">
        <div class='map-overlay-inner-button'>
                    <div class="allConstraintsDone-content">
                        <a onclick="multiObj_Comparison_Metric_Selection('race')">Click Once Constraints Have Been Entered</a>
                    </div>
        </div>
    </div>


    In the JavaScript portion of this file you'll notice a sizeable amount of the "let" keyword. Please
    read this description from MDN: "let allows you to declare variables that are limited to a scope of
    a block statement, or expression on which it is used, unlike the var keyword, which defines a variable
    globally, or locally to an entire function regardless of block scope."


-->

</body>
</html>


<script type="text/javascript">

    ///////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////
    // Displaying the map

    mapboxgl.accessToken = 'pk.eyJ1IjoiZXJpbmJydW5zIiwiYSI6ImNqajV3MG51bjI0MWkzcG1tZXZycjdyZWcifQ.-X9WJp4KZ6VEGrkDQI3A_w';
    var map = new mapboxgl.Map(
        {
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/light-v9', // stylesheet location
            center: [-87.6877, 42.0451], // starting position [lng, lat]
            zoom: 12.7// starting zoom
        });

    ///////////////////////////////////////////////////
    ///////////////////////////////////////////////////
    // Setting up let's to store the blocks, blocklabels,
    // and other geojson data
    let blocks = {
        "type": "geojson",
        "data": "./static/blocks.geojson"
    };


    let blockLabels = {
        "type": "geojson",
        "data": "./static/blockLabels.geojson"
    };

    let schools = {
        "type": "geojson",
        "data": "./static/schools.geojson"
    };

    ///////////////////////////////////////////////////
    ///////////////////////////////////////////////////
    // Declaring and defining various let's to store
    // the python dictionaries (passed in as JSON strings)
    // Use this format to avoid errors:
    let avgTravelDistance = {{ avgTravelDistance|safe }};
    let avgStudentsBused = {{ avgStudentsBused|safe }};
    let totalBusses = {{ totalBusses|safe }};
    let titleOnes = {{ titleOnes|safe }};

    ///////////////////////////////////////////////////
    ///////////////////////////////////////////////////
    // Declaring and defining more let's to store various
    // data
    let schoolNames = ["Dawes", "Dewey", "Kingsley",
        "Lincoln", "Lincolnwood", "Oakton",
        "Orrington", "Walker", "Washington",
        "Willard", "Bessie Rhodes", "MLK"];

    let frlCount_by_school = [463, 642, 333, 189, 427, 992, 56, 406, 459, 42, 0, 0];
    let twiCount_by_school = [315, 305, 115, 134, 142, 491, 50, 161, 348, 71, 0, 0];
    let k_2Count_by_school = [395, 726, 369, 418, 573, 741, 319, 469, 556, 342, 0, 0];
    let three_fiveCount_by_School = [448, 698, 466, 429, 573, 825, 281, 442, 518, 353, 0, 0];

    ///////////////////////////////////////////////////
    ///////////////////////////////////////////////////
    // Creating a dynamic variable for creating a popup
    // for hovering over blocks/schools
    var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    });


    map.on('load', function () {
        map.addSource("blockLabels", blockLabels);
        map.addSource("blocks", blocks);
        map.addSource("schools", schools);

        //adds schools to map
        map.addLayer({
            "id": "schools",
            "type": "symbol",
            "source": "schools",
            "layout": {
                "icon-image": "{icon}-11",
                "icon-allow-overlap": true,
                "text-field": "{title}",
                "text-font": ["Open Sans Regular", "Arial Unicode MS Regular"],
                "text-offset": [0, 0.6],
                "text-anchor": "top"
            }
        });

        //adds blocks to map
        map.addLayer({
            "id": "blocks",
            "type": "fill",
            "source": "blocks",
            "layout": {},
            "paint": {
                "fill-color": "#86F",
                "fill-opacity": 0.7

            }
        });

        // When the user moves their mouse over the state-fill layer, we'll update the
        // feature state for the feature under the mouse.
        map.on("mousemove", "blocks", function (e) {
            if (e.features.length > 0) {
                hoveredStateId = e.features["0"].properties.id;
                map.setPaintProperty('blocks', 'fill-color', ['case',
                    ['==', ['number', ['get', 'currentSchool']],
                        300],
                    "transparent",
                    ['==', ['number', ['get', 'id']],
                        hoveredStateId],
                    "#ff8123",
                    "#86F"]);
            }
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            var coordinates = e.lngLat;

            // This variable holds all of the information to be displayed when the
            // user hovers over a block
            /*var description = 'Block ID: '.concat(e.features["0"].properties.id.toString(),
                ', Current School: ', schoolNames[e.features["0"].properties.currentSchool],
                ', New School: ', schoolNames[e.features["0"].properties.newSchool],
                ', Total Students: ', e.features["0"].properties.totalStudentsNum.toString(),
                ', Free/Reduced Lunch: ', e.features["0"].properties.frlNum);
            */
            var description = 'Block ID: '.concat(e.features["0"].properties.id.toString(),
                ', 28 Student Records (all schools, ethnicities, TWI, FRL, ACC, grade).');

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);

        });

        // When the mouse leaves the state-fill layer, update the feature state of the
        // previously hovered feature, the popup disappears
        map.on("mouseleave", "blocks", function () {
            if (hoveredStateId) {
                map.setPaintProperty("blocks", 'fill-color',
                    ['case', ['==', ['number', ['get', 'currentSchool']],
                        300],
                        "transparent",
                        "#86F"]);
            }
            hoveredStateId = null;
            map.getCanvas().style.cursor = '';
            popup.remove();
        })


    });


    legendOff();
    optimizationButtonOff();
    var hoveredStateId = null;


    ///////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////
    // Functions for the optimization model button
    function optimizationButtonOn() {
        var optimizationButtonObj = document.getElementById('optimizationButton');
        optimizationButtonObj.style.display = "block";

        var paramInputObj = document.getElementById('paramInput');
        paramInputObj.style.display = "block";
    }

    function optimizationButtonOff() {
        var optimizationButtonObj = document.getElementById('optimizationButton');
        optimizationButtonObj.style.display = "none";

        var paramInputObj = document.getElementById('paramInput');
        paramInputObj.style.display = "none";
    }

    function optimizationButtonToggle() {
        var optimizationButtonObj = document.getElementById('optimizationButton');
        var paramInputObj = document.getElementById('paramInput');

        ///////////////////////////////////////////////////////

        if (optimizationButtonObj.style.display === "none" && paramInputObj.style.display === "none") {
            optimizationButtonObj.style.display = "block";
            paramInputObj.style.display = "block";
        } else {
            optimizationButtonObj.style.display = "none";
            paramInputObj.style.display = "none";
        }
    }

    ///////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////
    //
    function currentYear_heatmap()
    {
        map.setPaintProperty("blocks", "fill-color", ['case',
            ['==', ['number', ['get', 'currentSchool']],
                   300],
            "transparent",
            ['<=', ['number', ['get', 'presentation9_4_num']],
                   10],
            "rgba(136,102,255,0.73)",
            ['<=', ['number', ['get', 'presentation9_4_num']],
                   20],
            "#6153c1",
            ['<=', ['number', ['get', 'presentation9_4_num']],
                   30],
            "#413681",
            "#211f43",
        ]);


        while (legend.hasChildNodes()) {
            legend.removeChild(legend.firstChild);
        }

        var layers = ['0-10', '11-20', '21-30', 'more than 30 (116 max)'];
        var colors = ["rgba(136,102,255,0.73)", "#6153c1",
                      "#413681", "#211f43"];

        let label = document.createElement('label');
        label.innerHTML = "Student Population Heat map for 2018";
        legend.appendChild(label);

        for (i = 0; i < layers.length; i++) {
            var layer = layers[i];
            var color = colors[i];
            var item = document.createElement('div');
            var key = document.createElement('span');
            key.className = 'legend-key';
            key.style.backgroundColor = color;

            var value = document.createElement('span');
            value.innerHTML = layer;
            item.appendChild(key);
            item.appendChild(value);
            legend.appendChild(item);
        }
    }

    function modelResults(givenMode)
    {
        if (givenMode === "newSchool" || givenMode === 'neighborhood')
        {
            map.setPaintProperty("blocks", 'fill-color', ["match", ["number", ['get', 'presentation9_10_' + givenMode]],
            0, "#228B22",
            1, "#7FFF00",
            2, "#FFFF00",
            3, "#FFA500",
            4, "#4410bc",
            5, "#6BE144",
            6, "#d1503c",
            7, "#DA3CDC",
            8, "#ABABAB",
            9, "#19E2D1",
            10, "#111111",
            11, "#987234",
            12, "#ABCDE1",
            /*not in district (current school is set to 300)*/  "transparent"]);

                while (legend.hasChildNodes()) {
                legend.removeChild(legend.firstChild);
            }

            var layers = ['Dawes', 'Dewey', 'Kingsley', 'Lincoln', 'Lincolnwood', 'Oakton',
                'Orrington', 'Walker', 'Washington', 'Willard', 'Bessie Rhodes', 'MLK'];
            var colors = ["#228B22", //dark green
                "#7FFF00", //light green
                "#FFFF00", //yellow
                "#FFA500", //orange
                "#4410bc",
                "#6BE144",
                "#d1503c",
                "#DA3CDC",
                "#ABABAB",
                "#19E2D1",
                "#111111",
                "#987234",
                "#ABCDE1",];

            let label = document.createElement('label');
            if (givenMode === 'newSchool')
            {
                label.innerHTML = 'New School Assignment 9/10';
            }
            else {
                label.innerHTML = 'Neighborhood School Assignment 9/10';
            }
            legend.appendChild(label);

            for (i = 0; i < layers.length; i++) {
                var layer = layers[i];
                var color = colors[i];
                var item = document.createElement('div');
                var key = document.createElement('span');
                key.className = 'legend-key';
                key.style.backgroundColor = color;

                var value = document.createElement('span');
                value.innerHTML = layer;
                item.appendChild(key);
                item.appendChild(value);
                legend.appendChild(item);
            }

            map.on("mousemove", "blocks", function (e) {
            if (e.features.length > 0) {
                hoveredStateId = e.features["0"].properties.id;
                map.setPaintProperty('blocks', 'fill-color', ['case',
                    ['==', ['number', ['get', 'presentation9_10_' + givenMode]],
                        -1],
                    "transparent",
                    ['==', ['number', ['get', 'presentation9_10_' + givenMode]],
                        e.features["0"].properties['presentation9_10_' + givenMode]],
                    "#ff8123",
                    "#86F"]);
            }
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            var coordinates = e.lngLat;

            // obtains the school of the hovered block and stores it,
            // to use for indexing in various arrays that contain data
            // about each school



            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates)
                .addTo(map);


        });
        }
    }



    ///////////////////////////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////////////////////////
    // Functions for the legend
    function legendOn() {
        var legendObj = document.getElementById('legend');
        legendObj.style.display = "block";
    }

    function legendOff() {
        var legendObj = document.getElementById('legend');
        legendObj.style.display = "none";
    }

    function legendToggle() {
        var legendObj = document.getElementById('legend');
        if (legendObj.style.display === "none")
            legendObj.style.display = "block";
        else
            legendObj.style.display = "none";
    }


    function pageDescription() {
        window.confirm('Welcome to the Multi-Objective Comparison! On this page you can compare prioritize various' +
            ' characteristics, and see the results. For example, if you want to minimize the average student travel' +
            ' distance, all you have to do is enter in some values for the minimum and maximum for each constraint,' +
            ' click the run button, and drag the sliders to see how the solution varies for different levels of importance.');
    }

    //Run Model
    $('#optimizationButton').on('click', function () {

        var blocksAssigned = $('#blocksAssigned').val();
        var travelDistance = $('#travelDistance').val();
        var excessStudents = $('#excessStudents').val();
        var studentsBussed = $('#studentsBussed').val();
        var yearlyBusPerSchool = $('#yearlyBusPerSchool').val();
        var titleOneEligibleSchools = $('#titleOneEligibleSchools').val();

        //var contiguity = $('contiguity').val();
        // if($('#contiguity').prop("checked") == true)
        // {
        //   console.log("is checked")
        //   contiguity = 1;
        // }
        //e.preventDefault();
        console.log("clicked");

        if ($('input[name="contiguity"]').is(':checked')) {
            var contiguity = 1;
        } else {
            var contiguity = 0;
        }
        $.ajax({
            url: 'http://127.0.0.1:5000/square/',
            data: {
                'blocksAssigned': blocksAssigned,
                'travelDistance': travelDistance,
                'excessStudents': excessStudents,
                'studentsBussed': studentsBussed,
                'yearlyBusPerSchool': yearlyBusPerSchool,
                'titleOneEligibleSchools': titleOneEligibleSchools,
                'contiguity': contiguity
            },
            method: 'POST',
            success: function () {
                $('#blocksAssigned').val('');
                $('#travelDistance').val('');
                $('#excessStudents').val('');
                $('#studentsBussed').val('');
                $('#yearlyBusPerSchool').val('');
                $('#titleOneEligibleSchools').val('');
                $('#myCheckbox').prop('checked', false);
                console.log("success");
            }
        });
    });


    function upperCase_FirstLetter(givenStr) {
        return givenStr.charAt(0).toUpperCase() + givenStr.substr(1, givenStr.length);
    }


    function schoolAssignments(givenMode) {
        map.setPaintProperty("blocks", 'fill-color', ["match", ["number", ['get', givenMode + 'School']],
            0, "#228B22",
            1, "#7FFF00",
            2, "#FFFF00",
            3, "#FFA500",
            4, "#4410bc",
            5, "#6BE144",
            6, "#d1503c",
            7, "#DA3CDC",
            8, "#ABABAB",
            9, "#19E2D1",
            10, "#111111",
            11, "#987234",
            12, "#ABCDE1",
            /*not in district (current school is set to 300)*/  "transparent"]);

        while (legend.hasChildNodes()) {
            legend.removeChild(legend.firstChild);
        }

        var layers = ['Dawes', 'Dewey', 'Kingsley', 'Lincoln', 'Lincolnwood', 'Oakton',
            'Orrington', 'Walker', 'Washington', 'Willard', 'Bessie Rhodes', 'MLK'];
        var colors = ["#228B22", //dark green
            "#7FFF00", //light green
            "#FFFF00", //yellow
            "#FFA500", //orange
            "#4410bc",
            "#6BE144",
            "#d1503c",
            "#DA3CDC",
            "#ABABAB",
            "#19E2D1",
            "#111111",
            "#987234",
            "#ABCDE1",];

        let label = document.createElement('label');
        label.innerHTML = upperCase_FirstLetter(givenMode) + ' School Assignment';
        legend.appendChild(label);

        for (i = 0; i < layers.length; i++) {
            var layer = layers[i];
            var color = colors[i];
            var item = document.createElement('div');
            var key = document.createElement('span');
            key.className = 'legend-key';
            key.style.backgroundColor = color;

            var value = document.createElement('span');
            value.innerHTML = layer;
            item.appendChild(key);
            item.appendChild(value);
            legend.appendChild(item);
        }

        map.on("mousemove", "blocks", function (e) {
            if (e.features.length > 0) {
                hoveredStateId = e.features["0"].properties.id;
                map.setPaintProperty('blocks', 'fill-color', ['case',
                    ['==', ['number', ['get', givenMode + 'School']],
                        300],
                    "transparent",
                    ['==', ['number', ['get', givenMode + 'School']],
                        e.features["0"].properties[givenMode + 'School']],
                    "#ff8123",
                    "#86F"]);
            }
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            var coordinates = e.lngLat;

            // obtains the school of the hovered block and stores it,
            // to use for indexing in various arrays that contain data
            // about each school
            schoolCountsIndex = e.features["0"].properties[givenMode + 'School'];
            totalCount = k_2Count_by_school[schoolCountsIndex] + three_fiveCount_by_School[schoolCountsIndex];

            // this description holds all of the information to be
            // displayed for a school when any of its blocks become
            // hovered
            var description = 'School: '.concat(schoolNames[e.features["0"].properties[givenMode + 'School']],
                ', Total Students: ', totalCount.toString(),
                ', TWI: ', twiCount_by_school[schoolCountsIndex].toString(),
                ', Free/Reduced Lunch: ', frlCount_by_school[schoolCountsIndex].toString());


            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);

        });

        // When the cursor leaves the block, set the configuration
        // of the map back to its default assignment
        map.on("mouseleave", "blocks", function () {
            map.setPaintProperty("blocks", 'fill-color', ["match", ["number", ['get', givenMode + 'School']],
                0, "#228B22",
                1, "#7FFF00",
                2, "#FFFF00",
                3, "#FFA500",
                4, "#4410bc",
                5, "#6BE144",
                6, "#d1503c",
                7, "#DA3CDC",
                8, "#ABABAB",
                9, "#19E2D1",
                10, "#111111",
                11, "#987234",
                12, "#ABCDE1",
                /*not in district (current school is set to 300)*/  "transparent"]);
            hoveredStateId = null;
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
    }


    //Slider modification
    // And all of the code that interacts with
    // the slider


    // Global input value variables for each objective,
    // to represent the different slider input for the objectives
    var obj1Value = 2;
    var obj2Value = 2;
    var obj3Value = 2;
    var obj4Value = 2;
    var reAssignPercent = 50;

    var multiObj_Comparison_Metric = '';

    // Based on the button the user presses in the section that
    // allows the user to choose the metric by which to compare by
    // this function merely stores that result into a global string,
    // for use in later functions/processes
    function multiObj_Comparison_Metric_Selection(givenMetric) {
        multiObj_Comparison_Metric = givenMetric;
    }


    // Slider Input retrieval function for objective 1
    document.getElementById('slider1').addEventListener('input', function (e) {
        obj1Value = parseInt(e.target.value, 10);
        mapModify(obj1Value, obj2Value, obj3Value, obj4Value,
            multiObj_Comparison_Metric, reAssignPercent);
    });

    // Slider Input retrieval function for objective 2
    document.getElementById('slider2').addEventListener('input', function (e) {
        obj2Value = parseInt(e.target.value, 10);
        mapModify(obj1Value, obj2Value, obj3Value, obj4Value,
            multiObj_Comparison_Metric, reAssignPercent);
    });

    // Slider Input retrieval function for objective 3
    document.getElementById('slider3').addEventListener('input', function (e) {
        obj3Value = parseInt(e.target.value, 10);
        mapModify(obj1Value, obj2Value, obj3Value, obj4Value,
            multiObj_Comparison_Metric, reAssignPercent);
    });

    // Slider Input retrieval function for objective 4
    document.getElementById('slider4').addEventListener('input', function (e) {
        obj4Value = parseInt(e.target.value, 10);
        mapModify(obj1Value, obj2Value, obj3Value, obj4Value,
            multiObj_Comparison_Metric, reAssignPercent);
    });

    // Slider Input retrieval function for objective 5
    document.getElementById('slider5').addEventListener('input', function (e) {
        reAssignPercent = parseInt(e.target.value, 10);
        mapModify(obj1Value, obj2Value, obj3Value, obj4Value,
            multiObj_Comparison_Metric, reAssignPercent);
    });


    function mapModify(obj1Value, obj2Value, obj3Value, obj4Value,
                       multiObj_Comparison_Metric, reAssignPercent) {
        // Converting all of the slider inputs from int to string
        obj1Value = obj1Value.toString();
        obj2Value = obj2Value.toString();
        obj3Value = obj3Value.toString();
        obj4Value = obj4Value.toString();
        reAssignPercent = reAssignPercent.toString();
        // Concatenating all of the now string slider inputs into one string
        var inputCombination = obj1Value.concat(obj2Value, obj3Value, obj4Value);

        var label = document.createElement('label');


        if (multiObj_Comparison_Metric === 'school') {
            map.setPaintProperty("blocks", 'fill-color',
                ["match", ["number", ['get', reAssignPercent.concat(multiObj_Comparison_Metric, inputCombination)]],
                    0, "#228B22", //dark green
                    1, "#7FFF00", //light green
                    2, "#FFFF00", //yellow
                    3, "#FFA500", //orange
                    4, "#4410bc",
                    5, "#6BE144",
                    6, "#d1503c",
                    7, "#DA3CDC",
                    8, "#ABABAB",
                    9, "#19E2D1",
                    10, "#111111",
                    11, "#987234",
                    12, "#ABCDE1",
                    300, "transparent",
                    "transparent"]);

            while (legend.hasChildNodes()) {
                legend.removeChild(legend.firstChild);
            }

            var layers = ['Dawes', 'Dewey', 'Kingsley', 'Lincoln', 'Lincolnwood', 'Oakton',
                'Orrington', 'Walker', 'Washington', 'Willard', 'Bessie Rhodes', 'MLK'];
            var colors = ["#228B22", //dark green
                "#7FFF00", //light green
                "#FFFF00", //yellow
                "#FFA500", //orange
                "#4410bc",
                "#6BE144",
                "#d1503c",
                "#DA3CDC",
                "#ABABAB",
                "#19E2D1",
                "#111111",
                "#987234",
                "#ABCDE1",];
            label.innerHTML = 'School Assignment';
            legend.appendChild(label);

            for (i = 0; i < layers.length; i++) {
                var layer = layers[i];
                var color = colors[i];
                var item = document.createElement('div');
                var key = document.createElement('span');
                key.className = 'legend-key';
                key.style.backgroundColor = color;

                var value = document.createElement('span');
                value.innerHTML = layer;
                item.appendChild(key);
                item.appendChild(value);
                legend.appendChild(item);
            }

        }
        if (multiObj_Comparison_Metric === 'race') {
            map.setPaintProperty("blocks", 'fill-color', ["case",
                ["==", ['number', ['get', 'currentSchool']],
                    300],
                "transparent",
                ["all", [">=", ["/", ["number", ['get', 'AfroAmericanNum']],
                    ["+", ["number", ['get', 'CaucasianNum']],
                        ["number", ['get', 'HispanicNum']],
                        ["number", ['get', 'OtherRaceNum']],
                        ["number", ['get', 'MultiRacialNum']],
                        ["number", ['get', 'AfroAmericanNum']]]],
                    0.5],
                    ["!=", ['number', ['get', 'currentSchool']],
                        ["number", ['get', reAssignPercent.concat('school', inputCombination)]]]],
                "#43fc0d",
                ["all", [">=", ["/", ["number", ['get', 'CaucasianNum']],
                    ["+", ["number", ['get', 'CaucasianNum']],
                        ["number", ['get', 'HispanicNum']],
                        ["number", ['get', 'OtherRaceNum']],
                        ["number", ['get', 'MultiRacialNum']],
                        ["number", ['get', 'AfroAmericanNum']]]],
                    0.5],
                    ["!=", ['number', ['get', 'currentSchool']],
                        ["number", ['get', reAssignPercent.concat('school', inputCombination)]]]],
                "#0cebfc",
                ["all", [">=", ["/", ["number", ['get', 'HispanicNum']],
                    ["+", ["number", ['get', 'CaucasianNum']],
                        ["number", ['get', 'HispanicNum']],
                        ["number", ['get', 'OtherRaceNum']],
                        ["number", ['get', 'MultiRacialNum']],
                        ["number", ['get', 'AfroAmericanNum']]]],
                    0.5],
                    ["!=", ['number', ['get', 'currentSchool']],
                        ["number", ['get', reAssignPercent.concat('school', inputCombination)]]]],
                "#ca0dfc",
                ["all", [">=", ["/", ["number", ['get', 'OtherRaceNum']],
                    ["+", ["number", ['get', 'CaucasianNum']],
                        ["number", ['get', 'HispanicNum']],
                        ["number", ['get', 'OtherRaceNum']],
                        ["number", ['get', 'MultiRacialNum']],
                        ["number", ['get', 'AfroAmericanNum']]]],
                    0.5],
                    ["!=", ['number', ['get', 'currentSchool']],
                        ["number", ['get', reAssignPercent.concat('school', inputCombination)]]]],
                "#fc092e",
                ["all", [">=", ["/", ["number", ['get', 'MultiRacialNum']],
                    ["+", ["number", ['get', 'CaucasianNum']],
                        ["number", ['get', 'HispanicNum']],
                        ["number", ['get', 'OtherRaceNum']],
                        ["number", ['get', 'MultiRacialNum']],
                        ["number", ['get', 'AfroAmericanNum']]]],
                    0.5],
                    ["!=", ['number', ['get', 'currentSchool']],
                        ["number", ['get', reAssignPercent.concat('school', inputCombination)]]]],
                "#f37600",
                ["all", ["!=", ['number', ['get', 'currentSchool']],
                    ["number", ['get', reAssignPercent.concat('school', inputCombination)]]],
                    ["!=", ["/", ["number", ['get', 'AfroAmericanNum']],
                        ["+", ["number", ['get', 'CaucasianNum']],
                            ["number", ['get', 'HispanicNum']],
                            ["number", ['get', 'OtherRaceNum']],
                            ["number", ['get', 'MultiRacialNum']],
                            ["number", ['get', 'AfroAmericanNum']]]],
                        0.5],
                    ["!=", ["/", ["number", ['get', 'CaucasianNum']],
                        ["+", ["number", ['get', 'CaucasianNum']],
                            ["number", ['get', 'HispanicNum']],
                            ["number", ['get', 'OtherRaceNum']],
                            ["number", ['get', 'MultiRacialNum']],
                            ["number", ['get', 'AfroAmericanNum']]]],
                        0.5],
                    ["!=", ["/", ["number", ['get', 'HispanicNum']],
                        ["+", ["number", ['get', 'CaucasianNum']],
                            ["number", ['get', 'HispanicNum']],
                            ["number", ['get', 'OtherRaceNum']],
                            ["number", ['get', 'MultiRacialNum']],
                            ["number", ['get', 'AfroAmericanNum']]]],
                        0.5],
                    ["!=", ["/", ["number", ['get', 'OtherRaceNum']],
                        ["+", ["number", ['get', 'CaucasianNum']],
                            ["number", ['get', 'HispanicNum']],
                            ["number", ['get', 'OtherRaceNum']],
                            ["number", ['get', 'MultiRacialNum']],
                            ["number", ['get', 'AfroAmericanNum']]]],
                        0.5],
                    ["!=", ["/", ["number", ['get', 'MultiRacialNum']],
                        ["+", ["number", ['get', 'CaucasianNum']],
                            ["number", ['get', 'HispanicNum']],
                            ["number", ['get', 'OtherRaceNum']],
                            ["number", ['get', 'MultiRacialNum']],
                            ["number", ['get', 'AfroAmericanNum']]]],
                        0.5]],
                "#7f7f7f",
                "rgba(255,243,143,0.98)"
            ]);
            label.innerHTML = 'Re-assigned Races';

            while (legend.hasChildNodes()) {
                legend.removeChild(legend.firstChild);
            }

            var layers = ['African American Majority', 'Caucasian Majority',
                'Hispanic Majority', 'Other Race Majority', 'Multiracial Majority', 'No Clear Majority'];
            var colors = ["#43fc0d", "#0cebfc", "#ca0dfc", "#fc092e", "#f37600", "#7f7f7f"];

            legend.appendChild(label);

            for (i = 0; i < layers.length; i++) {
                var layer = layers[i];
                var color = colors[i];
                var item = document.createElement('div');
                var key = document.createElement('span');
                key.className = 'legend-key';
                key.style.backgroundColor = color;

                var value = document.createElement('span');
                value.innerHTML = layer;
                item.appendChild(key);
                item.appendChild(value);
                legend.appendChild(item);
            }
        }
        if (multiObj_Comparison_Metric !== 'school' && multiObj_Comparison_Metric !== 'race') {
            map.setPaintProperty("blocks", 'fill-color', ["case",
                ["==", ["number", ['get', reAssignPercent.concat(multiObj_Comparison_Metric, inputCombination)]],
                    300], "transparent",//not in district
                ["==", ["number", ['get', reAssignPercent.concat(multiObj_Comparison_Metric, inputCombination)]],
                    0], "#fef0d9", //light white
                ["<", ["number", ['get', reAssignPercent.concat(multiObj_Comparison_Metric, inputCombination)]],
                    1], "#fdcc8a",
                ["<", ["number", ['get', reAssignPercent.concat(multiObj_Comparison_Metric, inputCombination)]],
                    2], "#fc8d59",
                ["<", ["number", ['get', reAssignPercent.concat(multiObj_Comparison_Metric, inputCombination)]],
                    3], "#e34a33", //orange
                /* > 3 */  "#b30000"]);//dark red

            while (legend.hasChildNodes()) {
                legend.removeChild(legend.firstChild);
            }

            var layers = ['Zero students', 'One Student', 'Two Students', 'Three Students', 'Greater than Three Students'];
            var colors = ["#fef0d9", "#fdcc8a", "#fc8d59", "#e34a33", "#b30000"];

            if (multiObj_Comparison_Metric.includes('Hazard')) {
                label.innerHTML = 'Students Bused for Hazard';
            } else {
                label.innerHTML = 'Students Bused for Distance';
            }

            legend.appendChild(label);

            for (i = 0; i < layers.length; i++) {
                var layer = layers[i];
                var color = colors[i];
                var item = document.createElement('div');
                var key = document.createElement('span');
                key.className = 'legend-key';
                key.style.backgroundColor = color;

                var value = document.createElement('span');
                value.innerHTML = layer;
                item.appendChild(key);
                item.appendChild(value);
                legend.appendChild(item);
            }
        }
        formatMultiObjective(inputCombination);
    }

    ////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////
    // This function handles all of the formatting for the multi-objective
    // feature. It modifies the dynamic legends based on what the slider
    // values are and what metric is chosen to compare the obectives
    function formatMultiObjective(inputCombination) {

        var priorityArray = ['Not Considered', 'Less Important', 'Important', 'More Important'];
        document.getElementById('month1').textContent = priorityArray[obj1Value];
        document.getElementById('month2').textContent = priorityArray[obj2Value];
        document.getElementById('month3').textContent = priorityArray[obj3Value];
        document.getElementById('month4').textContent = priorityArray[obj4Value];
        document.getElementById('month5').textContent = reAssignPercent.toString() + '%';

        // These while loops clear all of the dynamc legends for each time
        // one is modified
        while (legendMO1.hasChildNodes()) {
            legendMO1.removeChild(legendMO1.firstChild);
        }
        while (legendMO2.hasChildNodes()) {
            legendMO2.removeChild(legendMO2.firstChild);
        }
        while (legendMO3.hasChildNodes()) {
            legendMO3.removeChild(legendMO3.firstChild);
        }
        while (legendMO4.hasChildNodes()) {
            legendMO4.removeChild(legendMO4.firstChild);
        }
        // Creating a 2D array to hold empty labels for future use
        var currentVals_and_distsFromBest = [];
        for (index = 0; index < 4; index++) {
            var label = document.createElement('label');
            label.className = 'dynamicLegendFontSize';
            var label1 = document.createElement('label');
            label1.className = 'dynamicLegendFontSize';

            currentVals_and_distsFromBest.push([label, label1]);
        }

        //////////////////////////////////////////////////////////////
        // filling in the legend for the various objectives,
        // with the 2D array created above


        currentVals_and_distsFromBest[0][0].innerHTML = 'Current Value: ' +
            avgTravelDistance[reAssignPercent.toString() + "_" + inputCombination].toFixed(2) +
            ' miles';


        legendMO1.appendChild(currentVals_and_distsFromBest[0][0]);

        // If any of the objective values are zero, then the label
        // can just say 'Not Considered'
        if (obj1Value == 0) {
            currentVals_and_distsFromBest[0][0].innerHTML = 'Not Optimized: ' +
                avgTravelDistance[(reAssignPercent.toString() + "_" + inputCombination)].toFixed(2) +
                ' miles';
        } else {
            bestVal = avgTravelDistance[(reAssignPercent.toString() + "_" + "3000")];
            currentVal = avgTravelDistance[(reAssignPercent.toString() + "_" + inputCombination)];
            percentFromBest = Math.abs(Math.round(((currentVal - bestVal) / bestVal) * 100));
            currentVals_and_distsFromBest[0][1].innerHTML = 'Optimal Value: ' +
                bestVal.toFixed(2) +
                " (" + percentFromBest.toString() + "% off)";
            legendMO1.appendChild(document.createElement('br'));
            legendMO1.appendChild(currentVals_and_distsFromBest[0][1]);
        }
        //////////////////////////////////////////////////////////////

        avgStudentsBused_Mapbox_Input = "avgStudentsBused_".concat(reAssignPercent.toString(), "_", inputCombination);

        currentVals_and_distsFromBest[1][0].innerHTML = 'Current Value: '
            + avgStudentsBused[(reAssignPercent.toString() + "_" + inputCombination)].toFixed(2)
            + ' students bused';
        legendMO2.appendChild(currentVals_and_distsFromBest[1][0]);

        if (obj2Value == 0) {
            currentVals_and_distsFromBest[1][0].innerHTML = 'Not Optimized: ' +
                +avgStudentsBused[(reAssignPercent.toString() + "_" + inputCombination)].toFixed(2)
                + ' students bused';
        } else {
            bestVal = avgStudentsBused[(reAssignPercent.toString() + "_" + "3000")];
            currentVal = avgStudentsBused[(reAssignPercent.toString() + "_" + inputCombination)];
            percentFromBest = Math.abs(Math.round(((currentVal - bestVal) / bestVal) * 100));
            currentVals_and_distsFromBest[1][1].innerHTML = 'Optimal Value: ' +
                bestVal.toFixed(2) +
                " (" + percentFromBest.toString() + "% off)";
            legendMO2.appendChild(document.createElement('br'));
            legendMO2.appendChild(currentVals_and_distsFromBest[1][1]);
        }
        //////////////////////////////////////////////////////////////

        totalBusses_Mapbox_Input = "totalBusses_".concat(reAssignPercent.toString(), "_", inputCombination);

        currentVals_and_distsFromBest[2][0].innerHTML = 'Current Value: '
            + totalBusses[(reAssignPercent.toString() + "_" + inputCombination)].toFixed(0)
            + ' bus routes';
        legendMO3.appendChild(currentVals_and_distsFromBest[2][0]);

        if (obj3Value == 0) {
            currentVals_and_distsFromBest[2][0].innerHTML = 'Not Optimized: ' +
                totalBusses[(reAssignPercent.toString() + "_" + inputCombination)].toFixed(0)
                + ' bus routes';
        } else {
            bestVal = totalBusses[(reAssignPercent.toString() + "_" + "3000")];
            currentVal = totalBusses[(reAssignPercent.toString() + "_" + inputCombination)];
            percentFromBest = Math.abs(Math.round(((currentVal - bestVal) / bestVal) * 100));
            currentVals_and_distsFromBest[2][1].innerHTML = 'Optimal Value: ' +
                bestVal.toFixed(2) +
                " (" + percentFromBest.toString() + "% off)";
            legendMO3.appendChild(document.createElement('br'));
            legendMO3.appendChild(currentVals_and_distsFromBest[2][1]);
        }
        ////////////////////////////////////////////////////////////

        numTitle_Mapbox_Input = "numTitle_".concat(reAssignPercent.toString(), "_", inputCombination);

        currentVals_and_distsFromBest[3][0].innerHTML = 'Current Value: '
            + titleOnes[(reAssignPercent.toString() + "_" + inputCombination)].toFixed(0)
            + ' Title I schools';
        legendMO4.appendChild(currentVals_and_distsFromBest[3][0]);


        if (obj4Value == 0) {
            currentVals_and_distsFromBest[3][0].innerHTML = 'Not Optimized: ' +
                titleOnes[(reAssignPercent.toString() + "_" + inputCombination)].toFixed(0) +
                ' Title I schools';
        } else {
            bestVal = titleOnes[(reAssignPercent.toString() + "_" + "3000")];
            currentVal = titleOnes[(reAssignPercent.toString() + "_" + inputCombination)];
            percentFromBest = Math.abs(Math.round(((currentVal - bestVal) / bestVal) * 100));
            currentVals_and_distsFromBest[3][1].innerHTML = 'Optimal Value: ' +
                bestVal.toFixed(2) +
                " (" + percentFromBest.toString() + "% off)";
            legendMO4.appendChild(document.createElement('br'));
            legendMO4.appendChild(currentVals_and_distsFromBest[3][1]);
        }
    }


</script>

 
