/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS for the navigation bar, which is
   the big strip of blue across the top of
   every page. It is used to position drop
   down lists for the tool's selection menus*/
#nav_bar {
        width: 100%;
        height: 40px;
        background-color: #3887be;
        position: absolute;
        top: 0;
    }




/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS That handles how to format the buttons. Most
   buttons can be added to the map using this skeleton:

   <div class='map-overlay-button (put specific button name here)'>
    	<div class='map-overlay-inner-button'>
        	<fieldset>
            	<label>(put actual button name here, the name the user will see)</label>
            	<button id=" (put a name for the button here, a short one that you can refer to in the file)"></button>
        	</fieldset>
    	</div>
   </div>
   */
.map-overlay-button {
font: 11px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 175px;
height: 20px;
top: 40px;
right: 0;
padding: 4px;
}
.map-overlay-button .map-overlay-inner-button {
background-color: #fff;
border-radius: 2px;
padding: 4px;
margin-bottom: 8px;
}
.map-overlay-inner-button fieldset {
border: none;
padding: 0;
margin: 0 0 8px;
}
.map-overlay-inner-button label {
display: block;
font-weight: bold;
margin: 0 0 5px;
}
.map-overlay-inner-button button {
display: inline-block;
width: 36px;
height: 10px;
border: none;
cursor: pointer;
background-color: #FF0000
}
.map-overlay-inner-button button:focus {
outline: none;
}
.map-overlay-inner-button button:hover {
box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.50);
}


.obj1Constraint
{
  top: 40px;
  right:480px;
}

.obj2Constraint
{
  top: 130px;
  right:480px;
}

.obj3Constraint
{
  top: 220px;
  right:480px;
}

.obj4Constraint
{
  top: 310px;
  right:480px;
}

.allConstraintsDone
{
  top: 400px;
  right:480px;
}



/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS that handles the formatting and styling for the
   Enrollment Projections Slide*/
.slider1{
font: 7.5px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 16%;
top: 40px;
right: 250px;
padding: 6px;
}
.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
border-radius: 3px;
padding: 5px;
margin-bottom: 4px;
}
.map-overlay h2 {
line-height: 8px;
display: block;
margin: 0 0 10px;
}
.map-overlay .legend1 .bar1 {
height: 6px;
width: 100%;
background: linear-gradient(to right, #EAF2F8, #1A5276);
}
.sliderCursor {
  cursor: pointer;
}
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS that handles the formatting and styling for the
   Enrollment Projections Slide*/
.slider2{
font: 7.5px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 16%;
top: 130px;
right: 250px;
padding: 6px;
}

.map-overlay .legend2 .bar2 {
height: 6px;
width: 100%;
background: linear-gradient(to right, #EAF2F8, #1A5276);
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS that handles the formatting and styling for the
   Enrollment Projections Slide*/
.slider3{
font: 7.5px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 16%;
top: 220px;
right: 250px;
padding: 6px;
}

.map-overlay .legend3 .bar3 {
height: 6px;
width: 100%;
background: linear-gradient(to right, #EAF2F8, #1A5276);
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS that handles the formatting and styling for the
   Enrollment Projections Slide*/
.slider4{
font: 7.5px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 16%;
top: 310px;
right: 250px;
padding: 6px;
}

.map-overlay .legend4 .bar4 {
height: 6px;
width: 100%;
background: linear-gradient(to right, #EAF2F8, #1A5276);
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS that handles the formatting and styling for the
   Enrollment Projections Slide*/
.slider5{
font: 7.5px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 16%;
top: 400px;
right: 250px;
padding: 6px;
}

.map-overlay .legend5 .bar5 {
height: 6px;
width: 100%;
background: linear-gradient(to right, #EAF2F8, #1A5276);
}


/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS that handles the formatting and styling for the
   Enrollment Projections Slide*/
.slider6{
font: 7.5px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 16%;
top: 490px;
right: 250px;
padding: 6px;
}

.map-overlay .legend6 .bar6 {
height: 6px;
width: 100%;
background: linear-gradient(to right, #EAF2F8, #1A5276);
}



/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* ======================================================= */
/* CSS that handles the formatting and styling for the
   button that takes in the model parameters and runs
   the optimization code*/
.optimizationButton {
font: 14px 'Times New Roman';
color: #f1f1f1;
position: absolute;
width: 40%;
top: 200px;
right: 0;
padding: 10px;
}
.map-overlay input {
background-color: #f1f1f1;
display: inline-block;
width: 80%;
position: relative;
margin: 10px;
cursor: text;
}
#paramInput{
	position: relative;
	background-color: #3887be;
}
#optimizationButton{
	font: 14px 'Times New Roman';
	bottom: 10px;
	background-color: #3887be;
	color: #f1f1f1;
	cursor: pointer;
}
#myCheckbox{
	cursor: pointer;
	vertical-align: middle;
	position: relative;
}
#contiguity{
	left:  50px;
}







/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the first dropdown
   menu/list: explore (replace explore with the new name if it's being
   updated)*/

/* Drop down button */
.dropbtn {
  background-color: #3887be;
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 50px;
  z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #FF0000;}





/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the second dropdown
   menu/list*/

/* Drop down button */
.dropbtn1 {
  background-color: #3887be;
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 220px;
  z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.dropdown1-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown1-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
/* Change color of dropdown links on hover */
.dropdown1-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown1-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {background-color: #FF0000;}




/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the third dropdown
   menu/list*/

/* Dropdown Button */
.dropbtn2 {
  background-color: #3887be;
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 700px;
  z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown2-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
/* Change color of dropdown links on hover */
.dropdown2-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown2-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {background-color: #FF0000;}



/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the fourth dropdown
   menu/list: explore (replace explore with the new name if it's being
   updated)*/

/* Drop down button */
.dropbtn3 {
  background-color: #3887be;
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 1150px;
  z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.dropdown3-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown3-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
/* Change color of dropdown links on hover */
.dropdown3-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown3-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown3:hover .dropbtn3 {background-color: #FF0000;}




/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the fourth dropdown
   menu/list: explore (replace explore with the new name if it's being
   updated)*/

/* Drop down button */
.dropbtn4 {
  background-color: #3887be;
  color: white;
  padding: 11px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown4 {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 1100px;
  z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.dropdown4-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown4-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
/* Change color of dropdown links on hover */
.dropdown4-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown4:hover .dropdown4-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown4:hover .dropbtn4 {background-color: #FF0000;}






/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the dynamic legend
   with the color squares that are next to various description*/
.map-overlay-legend {
  position: absolute;
  top: 100px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 450px;
  margin-bottom: 40px;
  width: 300px;

}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}



/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the dynamic legend
   with the color squares that are next to various description*/
.map-overlay-legendMO1 {
  position: absolute;
  top: 45px;
  right: 30px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#legendMO1 {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 65px;
  margin-bottom: 40px;
  width: 180px;

}
.legend-keyMO1 {
  display: inline-block;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the dynamic legend
   with the color squares that are next to various description*/
.map-overlay-legendMO2 {
  position: absolute;
  top: 135px;
  right: 30px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#legendMO2 {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 65px;
  margin-bottom: 40px;
  width: 180px;

}
.legend-keyMO2 {
  display: inline-block;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the dynamic legend
   with the color squares that are next to various description*/
.map-overlay-legendMO3 {
  position: absolute;
  top: 225px;
  right: 30px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#legendMO3 {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 65px;
  margin-bottom: 40px;
  width: 180px;

}
.legend-keyMO3 {
  display: inline-block;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the dynamic legend
   with the color squares that are next to various description*/
.map-overlay-legendMO4 {
  position: absolute;
  top: 315px;
  right: 30px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#legendMO4 {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 65px;
  margin-bottom: 40px;
  width: 180px;

}
.legend-keyMO4 {
  display: inline-block;
  border-radius: 20%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that handles the formatting and styling for the dynamic legend
   with the color squares that are next to various description*/
.map-overlay-legendMO5 {
  position: absolute;
  top: 405px;
  right: 80px;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#legendMO5 {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 50px;
  margin-bottom: 40px;
  width: 130px;

}
.legend-keyMO5 {
  display: inline-block;
  border-radius: 20%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}


/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that specifies the font size for the slider values that appear for
   each objective and the slider value for the % blocks reassigned*/
.monthLabels {
  font-size: 12px;
}

/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that specifies the font size for the five dynamic legends that
   correspond to the sliders for the different objectives*/
.dynamicLegendFontSize
{
  font-size: 14px;
}


/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* CSS that specifies the font size for the five dynamic legends that
   correspond to the sliders for the different objectives*/
.constraintInput
{
  width: 30px;
}

.allConstraintsDone-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 12px;
}
.allConstraintsDone-content a:hover {background-color: #ddd;}